@keyframes animateBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.nav-header{
  text-align: initial;
  margin-left: 0.5vw;
    background-color: #D4F1F4;
    width: 99%;
    height: 64px;
    color: #05445E;
    border-radius: 1vw;
    padding: 1vw;
    box-shadow: 4px 6px 7px -5px rgba(0,0,0,0.75);
}
@media screen and (max-width: 768px) {
  .nav-header {
    font-size: 16vw;
    text-align: center;
    max-height: 50px;
  }
  .h1-header{
    border-bottom: 0px;
    font-size: 5vw;
  }
}
.h1-header{
  border-bottom: 0px;
}
body {
  background-image: linear-gradient(to right,  #189AB4,#D4F1F4);
  animation: animateBackground 10s linear infinite;
}
label{
  color: #D4F1F4;
  text-align: left;
  font-size: 20px;
  font-family: monospace;
}

.container-card-app{
  height: 291px;
  display: flex;
  width: 80%;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: #05445E;
    padding: 20px;
    box-shadow: 4px 6px 7px -4px rgba(0,0,0,0.75);
}
@media screen and (max-width: 768px) {
  .container-card-app {
    max-width: 100%;
    min-height: 291px;
    font-size: 16px;
    box-shadow: 4px 6px 7px -4px rgba(0,0,0,0.75);
  }
}

.container-form{
  width: 50%;
    margin: inherit;
    height: 200px;
}

.container-cards{
  width: 59%;
  display: block;
    justify-content: center;
    height: 256px;
    margin-left: 19px;
    overflow-y: scroll;
}

.container-cards::-webkit-scrollbar {
  width: 10px; /* ancho de la barra */
  background-color: #F5F5F5; /* color de fondo de la barra */
}

.container-cards::-webkit-scrollbar-thumb {
  background-color: #05445E; /* color del pulgar de la barra */
}
.content-card{
  padding: 1vw 4vw;
    border-radius: 10px;
    width: 90%;
    flex: 1 1;
    background: white;
    max-height: 110px;
    min-height: 136px;
    margin-block: 1vw;
}

@media screen and (max-width: 768px) {
  .content-card {
    max-width: 100%;
    height: auto;
    font-size: 16px;
  }
}

.content-values{
  display: flex;
  gap: 32px;
  justify-content: space-between;
}

h1 {
  font-size: 28px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
    border-left: 1px solid #000;
}

@media screen and (max-width: 768px) {
  .content-values {
    display: contents;
    padding: 31px;
    max-width: 100%;
    height: auto;
    font-size: 16px;
  }
  h1{
    font-size: 16px;
    border-bottom: 0px solid #000;
  }
  h2{
    font-size: 16px;
    border-left: 0px solid #000;
  }
}

nav{
  color:#189AB4;
}

.info{
  color: #D4F1F4;
}